body{
    background: #0a5800;
}

header{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #222222;
    z-index: 99;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

header nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .5s;
}

header nav a:hover{
    color: #00df00;
}

.btnMenu{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
}

#content{
    position: relative;
    width: 100%;
    max-width: 768px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

#content h1{
    font-size: 17px;
}

#content h2{
    font-size: 14px;
}

#content p{
    font-size: 13px;
    line-height: 1.5;
}

.inputs {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
    max-width: 600px;
    margin: auto;
}
.inputs label {
    display: block;
    margin-bottom: 10px;
}
.inputs label input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.inputs button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.inputs button:hover {
    background-color: #0056b3;
}

.imgs{
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgs img{
    width: 100px;
    height: 100px;
}

.qrcode{
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 140px;
}

.hidden {
    display: none;
}

.gov{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoGov{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.infoGov img{
    width: 40px;
    height: 20px;
    margin-right: 5px;
}

#contentTwo{
    position: relative;
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
    border: 2px solid #008cff;
    background-color: #fff;
}

.img{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #008cff;
    padding: 10px;
}

.img img{
    width: 150px;
}

.img p{
    text-align: center;
    width: 80%;
    font-size: 27px;
}

#contentTwo p{
    border: 1px solid #008cff;
    padding: 15px;
    margin: 0;
    font-weight: bolder;
}

.info{
    width: 100%;
    display: flex;
}

.info p{
    width: 100%;
}

.local{
    width: 100%;
    display: flex;
}

.local p:first-child{
    width: 80%;
}

.local p:last-child{
    width: 20%;
}

.locaCidade{
    display: flex;
    width: 100%;
}

.locaCidade p{
    width: 100%;
}

.phones{
    width: 100%;
    display: flex;
}

.phones p{
    width: 100%;
}

.informacoes{
    display: flex;
}

.imgInfo{
    width: 300px;
}

.obs{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
    line-height: 1.4;
    padding: 20px;
}

.obs span{
    color: red;
}

.pagamento{
    display: flex;
}

.pagamento img{
    width: 70px;
    margin-right: 20px;
}

@media(max-width: 785px) {
    #content{   
        width: 100%;
    } 
}